body{
    background-color: rgb(29, 29, 29);
    margin: 0;
    color: white;
}

h1{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav-menu, .header-nav-config{
    display: flex;
    justify-content: space-evenly;
    width: max-content;
    margin-top: 2rem;
    margin: auto;
    gap: 16px;

}

a{
    text-decoration: none;
    padding: 8px;
    color: white;
}

a:hover{
    text-decoration: underline;
}

header{
    background-color: green;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}