body{
    background-color: rgb(29, 29, 29);
    margin: 0;
    color: white;
    font-family: sans-serif;
}

.container{
    display: grid;
  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: 200px 500px 200px; */
  grid-template: 70px 500px 200px / 1fr 3fr;
  grid-template-areas:
    "header header header"
    "main main main";
  /*gap: 5rem 20rem;*/
  /*   row-gap: 5rem;
  column-gap: 1rem; */
}

.header{
    grid-area: header;
}
.main-container{
    grid-area: main;
}

h1{
    margin: 0;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav-menu, .header-nav-config{
    display: flex;
    justify-content: space-evenly;
    width: max-content;
    margin-top: 2rem;
    margin: auto;
    gap: 16px;

}

a{
    text-decoration: none;
    padding: 8px;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.header{
    background-color: green;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-top{
    background-color: #496550;
    padding: 32px;
    margin-bottom: 2rem;
}

.main-top-saudacao{
    font-size: 48px;
}

.main-top-descricao{
    font-size: 24px;
    color: darkgray;
}


.main-container-content{
    display: flex;
    justify-content: space-evenly;
}

.main-container-content-saldo{
    background-color: #496550;
    width: 35%;
    height: 240px;
    margin-bottom: 2rem;
    border-radius: 6px;
}

.main-container-content-historico{
    background-color: #496550;
    width: 35%;
    height: 240px;
    margin-bottom: 2rem;
    border-radius: 6px;
}

.main-container-actions{
    width: 60%;
    margin-left: 152px;
}